body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Rubik','Raleway',sans-serif;
  background: #06080F;
}

main{
  flex-grow: 1;
}

.containerReloj{
  background: #002A40;
  width: 100%;
  height: 25rem;
}

.containerFecha,
.containerHora{
  width: 100%;
  height: 200px;
  background: #00161F;
}

footer{
  border: 1px solid ;
}

/*sobre mi*/
.imageProfile{
  width: 425px;
  height: 425px;
}

.imageProfile:hover{
  width: 500px;
  height: 500px;
  transition: .3s ease-in-out;
}

a .socialIcon{
  font-size: 40px;
}

a .socialIcon:hover{
  font-size: 50px;
  transition: .3s ease-in-out;
}

@media all and (min-width: 768px){
  .containerReloj{
    height: 35rem;
  }

  .containerFecha,
  .containerHora{
    width: 90%;
  }
}